.main-footer {
  background-color: $white;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.main-footer__wrapper {
  padding-top: 37px;
  padding-bottom: 18px;
}

.main-footer__developed {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $gray;
}

.main-footer__developed-link {
  display: block;
}

.main-footer__developed-img {
  display: block;

  width: 27px;
  height: 33px;
}
