.main-header {
  background-color: $dark-blue;

  &--form-page-background {
    background-color: $form-page-blue-background;
  }
}

.main-header__wrapper {
  padding-bottom: 52px;
}

.main-header__logo,
.main-header__logo-img {
  display: block;
}
