$blue: #192144;
$dark-blue: #161c35;
$light-blue: #132576;
$extra-light-blue: #1d2e5b;

$white: #ffffff;

$gray: #444444;
$light-gray: #f3f4f8;
$gray-background: #e6e8f1;
$light-gray-background: #edeff6;

$yellow: #ffbd30;
$light-yellow: #ffd74b;

$orange: #ff8d30;
$light-orange: #ffa530;
