$blue: #192144;
$dark-blue: #161c35;
$light-blue: #132576;
$extra-light-blue: #1d2e5b;
$form-page-blue-background: #182044;
$form-page-dark-blue-background: #d4d9eb;

$white: #ffffff;
$black: #000000;

$gray: #444444;
$light-gray: #f3f4f8;
$gray-background: #e6e8f1;
$light-gray-background: #edeff6;
$gray-button: #dfe3f0;
$gray-button-hover: #d1d7e9;

$yellow: #ffbd30;
$light-yellow: #ffd74b;

$orange: #ff8d30;
$light-orange: #ffa530;
$dark-orange: #ff5c23;
